/* Write your CSS here */
.list {
  display: flex;
  justify-content: space-between;
}
.suggest {
  color: #475569;
  font-size: 13px;
  font-family: 'Roboto';
  padding-right: 40px;
}
.arrow {
  margin-top: 20px;
  margin-right: 20px;
}
